* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-image: url(images/mobile/hero.jpg);
  height: 100vh;
  background-size: cover;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.mobile-nav.active {
  transform: translate(0);
}

.mobile-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.mobile-nav-list {
  padding-left: 36px;
  transform: translateY(50%);
}
.mobile-nav-list-item {
  padding: 12.5px 0;
  transform: translateX(-100%);
  transition: 0.3s cubic-bezier(0.13, 0.68, 0.63, 1.7) 0.3s;
}

.mobile-nav.active .mobile-nav-list-item {
  transform: translateX(0);
}

.mobile-nav-list-item a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.item1 {
  transition-delay: 300ms;
}

.item2 {
  transition-delay: 350ms;
}

.item3 {
  transition-delay: 400ms;
}

.item4 {
  transition-delay: 450ms;
}

.item5 {
  transition-delay: 500ms;
}

.menu-close {
  background-color: transparent;
  border: none;
}

.menu-logo {
  font-family: "Alata";
  color: white;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: bold;
}

.logo {
  font-family: "Alata";
  color: white;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: bold;
}

.menu-open {
  background-color: transparent;
  border: none;
}

.header-title {
  width: 83.3333%;
  height: auto;
  border: 2px solid white;
  font-size: 3rem;
  color: white;
  font-family: "Josefin Sans";
  font-weight: 200;
  margin: 40% auto;
  padding: 25px 40px 25px 25px;
}

.header-title {
  font-size: clamp(28px, calc(1.75rem + ((1vw - 2.8px) * 10)), 48px);
  min-height: 0vw;
}

.description-section {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-image {
  width: 83%;
  height: auto;
}

.description-title {
  font-family: "Josefin Sans";
  font-weight: 200;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-top: 40px;
}

.description {
  font-family: "Alata";
  color: #00000088;
  text-align: center;
  padding: 0 5px;
}

.creations-section {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creations-title {
  font-family: "Josefin Sans";
  font-weight: 200;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.creation-box {
  position: relative;
  background-size: cover;
  width: 85%;
  height: 150px;
  margin: 32.5px 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.creation-box-title {
  position: absolute;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  left: 20px;
  bottom: 8px;
  color: white;
  text-transform: uppercase;
}

.box1 {
  background-image: url(./images/mobile/deep-earth.png);
}

.box2 {
  background-image: url(./images/mobile/image-night-arcade\ 1-6.png);
}

.box3 {
  background-image: url(./images/mobile/soccer.png);
}

.box4 {
  background-image: url(./images/mobile/the-grid.png);
}

.box5 {
  background-image: url(./images/mobile/above-vr.png);
}

.box6 {
  background-image: url(./images/mobile/pocket-barealis.png);
}

.box7 {
  background-image: url(./images/mobile/the-curiosity.png);
}

.box8 {
  background-image: url(./images/mobile/fisheye.png);
}

.see-all-btn {
  width: 310px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  border: 2px solid black;
  background-color: white;
  letter-spacing: 3px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.see-all-btn:hover {
  color: white;
  background-color: black;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-logo {
  font-family: "Alata";
  color: white;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}

.footer-menu {
  list-style: none;
}

.footer-menu-item {
  padding: 12.5px 0;

  text-align: center;
}

.footer-menu-item a {
  text-decoration: none;
  color: white;
  font-family: "Alata";
  font-size: 1.25rem;
}

.socials {
  margin: 20px 0;
}

.social-link {
  padding: 0 12.5px;
}

.copyrights {
  font-size: 16px;
  font-family: "Alata";
  color: white;
  margin-bottom: 18px;
}
