* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-image: url(images/mobile/hero.jpg);
  height: 100vh;
  background-size: cover;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.logo {
  font-family: "Alata";
  color: white;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: bold;
}

.menu-open {
  background-color: transparent;
  border: none;
}

.header-title {
  width: 83.3333%;
  height: auto;
  border: 2px solid white;
  font-size: 48px;
  color: white;
  font-family: "Josefin Sans";
  font-weight: 200;
  margin: 40% auto;
  padding: 25px 40px 25px 25px;
}

.header-title {
  font-size: clamp(34px, calc(2.125rem + ((1vw - 3.2px) * 8.75)), 48px);
  min-height: 0vw;
}

.description-section {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-image {
  width: 83%;
  height: auto;
}

.description-title {
  font-family: "Josefin Sans";
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 40px;
}

.description {
  font-family: "Alata";
  color: #00000088;
  text-align: center;
  padding: 0 5px;
}
